h1 {
    font-size: 50px;
	text-align: center;
    font-family: "Arial Black";
}
h2 {
    font-size: 40px;
	text-align: center;
    width: 300px;
    font-style: italic;
    font-family: "Nimes New Roman";
}
td{
    width: 500px;
    height: 300px;
    text-align: center;
    font-weight: bold;
}
th {
	text-align: left;
    font-weight: normal;
}
p {
    font-size: 30px;
    text-align: justify;
	  width: 300px;
    line-height: 1.5;
    text-indent: 50px;
    text-decoration: underline;
    text-decoration: overline;
}
p {
	font: 13px/20px "Times New Roman";
}
p {
  width: 300px;
  font: bold 40px Arial;
  color: red; 
}
p {
  font: italic bold 40px/60px Arial;
  text-indent: 50px;
} 
p {
	font: 13px/20px "Times New Roman";
}
p {
  width: 300px;
  font: bold 40px Arial;
  color: green;
  text-decoration: line-through; 
}
p {
  font: italic bold 40px/60px Arial;
  text-indent: 50px;
  text-decoration: none;
  color:red;
} 


 